
.container{
  position: relative;
  width:1226px;
  margin-right:auto;
  margin-left:auto;
}
.f-thide{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
.hideTxt{
  text-indent: -9999px;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
// .clearfix:before,.clearfix:after{
//   content:' ';
//   display:table;
// }
.clearfix:after{
  clear: both;
}

.container{
  width: 980px;
  margin: 0 auto;
}
