// 常规配色设置
$colorA:      #c20c0c !default; //主题背景色，用于需要突出和强调的文字、按钮和icon
$colorB:      #333333 !default; //用于较为重要的文字信息、内页标题等
$colorBg:     #F5F5F5 !default; //用于背景色
$colorC:      #666666 !default; //用于普通段落信息 引导词
$colorD:      #999999 !default; //用于辅助、次要的文字信息、普通按钮的描边
$colorE:      #cccccc !default; //用于特别弱的文字,边框
$colorF:      #d7d7d7 !default; //用于列表分割线、标签秒变
$colorG:      #ffffff !default; //用于导航栏文字、按钮文字、白色背景
$colorH:      #e5e5e5 !default; //用于上下模块分割线
$colorI:      #242424 !default; //纯黑色背景，用于遮罩层
$colorJ:      #F5F5F5 !default; //弹框标题背景色
$colorK:      #F7F7F7 !default; //body背景色